@import "tailwindcss";

@layer base {
  body {
    @apply bg-black overflow-hidden;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

